LANGUAGE=en
ASSISTANT_NAME=BluePilot
WAKE_WORD=bluepilot
VOICE_NAME=en-US-GuyNeural
VOICE_EN=en-US-GuyNeural
VOICE_UR=ur-PK-UzmaNeural
VOICE_RATE=180
VOICE_VOLUME=1.0
ENERGY_THRESHOLD=300
DYNAMIC_ENERGY=True
PAUSE_THRESHOLD=0.8
LISTEN_TIMEOUT=5
PHRASE_TIME_LIMIT=8
LOG_LEVEL=INFO
